# =================================================================
# Node.js Dependencies & Logs
# =================================================================
# Ignore all node_modules directories in any subfolder
**/node_modules/

# Ignore package-lock.json files
**/package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

packages/aptos/build/

# Ignore other compiled circuit artifacts and keys
packages/circuits/*.r1cs
packages/circuits/*.sym
packages/circuits/*.zkey

# Ignore generated proofs and verification keys
packages/circuits/proof.json
packages/circuits/public.json
packages/circuits/verification_key.json
